<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Current time</title>
        <link rel="stylesheet" href="<%= url %>" />
    </head>
    <body>
        This page was loaded at <%= time %>
    </body>
</html>